// WideScreens
@include mediaXl {
    .skills-info {
        grid-template-areas: 'job1' 'job2' 'job3' 'job4' 'job5';
        grid-template-columns: 1fr;
    }
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Desktops & Laptops
@include mediaLg {
    main#home h1 {
        font-size: 4rem;
    }
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

// Tablets & Small Laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;
        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }
    main#home h1 {
        font-size: 3rem;
    }
    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 16px;
        .nav-item {
            font-size: 0.5rem;
            .nav-link {
                font-size: 1.2rem;
            }
        }
    }
    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);
        .portrait {
            background: url('../image/profile_pic_small.jpeg');
            width: 150px;
            height: 150px;
        }
    }
    .about-info {
        grid-template-areas: 'bio-image' 'bio' 'job1' 'job2' 'job3';
        grid-template-columns: 1fr;
    }
    main#skills h1 {
        font-size: 4rem;
    }
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    main#education h1 {
        font-size: 4rem;
    }
    .education-info {
        grid-template-areas: 'job3' 'job2' 'job1';
        grid-template-columns: 1fr;
    }
    button.btn-res {
        float: none;
        display: block;
        margin: 1rem auto;
    }
}

// Smartphones
@include mediaSm {
    main#home h1 {
        margin-top: 4%;
        font-size: 2.8rem;
    }
    main#home h2 {
        font-size: 1rem;
    }
    main#home .btn-res {
        font-size: 1rem;
    }
    main#about h1 {
        font-size: 3rem;
    }
    main#skills h1 {
        font-size: 2.5rem;
    }
    .projects {
        grid-template-columns: 1fr;
    }
    main#education h1 {
        font-size: 3.2rem;
    }
    main#contact h1 {
        font-size: 4rem;
    }
}